/* variables and fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@font-face {
  font-family: jenna-sue;
  src: url(../font/JennaSue.ttf);
}
$nav-color-active : #231F20 ; 
$nav-color-disactive : #757575;
$main-white: #fff ; 
$main-black: #000000 ; 
$primary-color: #7F90F4 ; 
$primary-color2:#aeb9f7 ; 
$gradient: linear-gradient(90deg, #4FC3F7 0%, #49A7F6 21%, #448EF4 44%, #4285F4 58%, #4586F4 67%, #5087F4 74%, #618BF4 80%, #7A8FF4 86%, #7F90F4 87%); 

/* box sizing */
html {
  box-sizing: border-box;

}
* , *::after , *::before {
  box-sizing: inherit;
  font-family: "Poppins" , sans-serif;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: calc(0.5em + 3vw);
}
/* setting the max width */
nav , .paragraph {
  max-width: 107.5rem;
}
/* nav bar */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin-bottom: 1rem;
  nav {
    width: 100%;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        align-items: center;
        flex-flow: row wrap;
        .logo {
          flex-basis: 50%;
          a>img {
            max-width: 100%;
          }
        }
        li:nth-child(2) {
          flex-basis: 50%;
          text-align: right;
          img {
            width: 16%;
          }
        }
        a {
          text-decoration: none;
          color: $nav-color-disactive;
          font-weight: 500;
          font-size: 1.75em;
        }
        [href="#"] {
          color: $nav-color-active;
        }
        [href="register"] {
          background-color: $primary-color;
          animation-name: color-changing;
          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          padding: 0.4em 2em;
          color: $main-white;
          font-weight: 800;
          position: relative;
          &::after {
            content: url("../Assets/register.svg");
              position: absolute;
              width: 100%;
              display: block;
              top: -0%;
              left: 0;
          }
        }
        @keyframes color-changing {
          50% {
            background-color: $primary-color2;
          }
        }
        ul {
          display: flex;
          width: 100%;
          z-index: 1000;
          flex-direction: column;
          align-items: center;
          list-style: inherit;
          padding: 0;
          margin: 0;
          gap: 2em;
        }
        .hidden {
          display: none;
        }
      }
  }
}

/* main section */
main {
  .wrapper {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 1.5em 1.5em;
    overflow: hidden;
      .iwd {
        flex-basis: 100%;
        margin-bottom: 20%;
        margin-top: 15%;
        text-align: center;
        position: relative;
        .message {
          position: absolute;
          top: 44%; 
          left: 50%;
          width: 70%;
      }
        img {
          width: 80%;
        }
      }
      .text {
        flex-basis: 100%;
        margin-bottom: 5rem;
        position: relative;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            background-color: rgb(255, 255, 255);
            height: 100%;
            top: 0%;
            right: 0%;
            animation-name: left;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
        &::before {
          content: '';
            display: block;
            width: 100%;
            position: absolute;
            background-color: rgb(255, 255, 255);
            height: 100%;
            top: 0%;
            left: 0%;
            animation-name: right;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }
        @keyframes left {
          10% {
            width: 80%;
          }
          50% {
            width: 60%;
          }
          100% {
            width: 0%;
          }
        }
        @keyframes right {
            10% {
              width: 10%;
            }
            50% {
              width: 40%;
            }
            100% {
              width: 0%;
            }
        }
        img {
          width: 100%;
        }
        .line2 {
          position: absolute;
          width: 40%;
          top: 100%;
          right: -10%;
        }
        .question {
          position: absolute;
          width: 10%;
          top: 150%;
          right: 0%;
          animation-name: scale-out;
          animation-duration: 5s;
        }
        @keyframes scale-out {
          0% {
            scale: 0;
          }
        }
        .icon {
          position: absolute;
          display: block;
          width: 20%;
          left: -10%;
          animation-name: fade;
          animation-duration: 8s ; 
        }

      }

      .register {
        margin-top: 1.5em;
        margin-bottom: 6rem;
        flex-basis: 80%;
        text-align: center;
        a {
          text-decoration: none;
          color: $main-white;
          background: $gradient;
          padding: 0.4em 2em;
          color: $main-white;
          font-weight: 800;
          position: relative;
          font-size: 1em;
          &::after {
              content: url("../Assets/register.svg");
              position: absolute;
              width: 100%;
              display: block;
              top: 0%;
              left: 0;
            }
        }
      }
        .pc,
        .line1 {
          position: absolute;
        }
    
        .line1 {
          display: block;
          width: 50%;
          left: 0;
          top: 3%;
          rotate: 40deg;
        }
    
        .pc {
          width: 15%;
          right: -1rem;
          top: 0;
          animation-name: fade;
          animation-duration: 8s;

        }
        @keyframes fade {
          0% {
            opacity: 0;
          }
        }

    }
    .paragraph {
      flex-basis: 100%;
      display: none;
      p {
        font-size: 8.4em;
        font-family: jenna-sue;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          background-color: $main-white;
          top: 0%;
          left: 0%;
          height: 100%;
          animation-name: reveal;
          animation-fill-mode: forwards;
          animation-duration: 8s;
        }
      }
      @keyframes reveal {
        to {
          left: 100%;
        }
      }
    }
    
  }
@media screen and (min-width:550px) {
  body {
    font-size: calc(0.5em + 1.5vw);
  }
  main {
    .wrapper {
      .iwd {
        img {
          width: 70%;
        }
      }
    }
  }
}
@media screen and (min-width:1000px) {
    body {
        font-size: calc(0.5em + 0.2vw);
      }
    /* main section */
    main {
  .wrapper {
      .iwd {
        margin: 6rem 0 10rem 0;
        .message {
          top: 37%; 
          left: 50%;
          width: 45%;
      }
        img {
          width: 40%;
        }
      }
      .text {
        img {
          width: 80%;
        }
        .question {
          width: 7%;
        }
        .icon {
          width: 15%;
          left: -3%;
        }
      }
      .register {
        margin-bottom: 14rem;
        a {
          font-size: 3.5em;
          &::after {
            content: url("../Assets/register.svg");
            position: absolute;
            top: -10%;
            left: 0;
          }
        }
      }
        .line1 {
          width: 40%;
          left: -8%;
          rotate: 0deg;
        }
    
        .pc {
          width: 10%;
          top: 0;
        }
    

    }
    .paragraph {
      display: block;
    }
    
  }
}
@media screen and (min-width:1200px) {
  header {
      nav {
        width: 100%;
  
        ul {
          .logo {
            flex-basis: 30%;
  
            a>img {
              max-width: 100%;
            }
          }
  
          li:nth-child(2) {
            display: none;
          }
  
          ul {
            flex-basis: 70%;
            z-index: 0;
            flex-direction: row;
            gap: 2%;
          }
  
          .hidden {
            display: flex;
          }
        }
      }
    }
  
}